<%- include partials/header.ejs %>
<header class="intro">
    <h1>Lets Get In Touch</h1>
    <p>If I can recall correctly I heard you mention that you didnt want this to be a "One Page Site" ideally that's
        what I would like to do. But, for the sake of the project I have split them up into separate pages. Assuming
        this is for practising doing the separate routes.
    </p>
</header>
<%- include partials/footer.ejs %>