<%- include partials/header.ejs %>
<h1>Past Projects</h1>
<p>My name is. I'm currently enrolled in Georgians colleges' Web Design and Development program.
    Upon completion of this program I'll be entering the COPA program at Georgian.  I enjoy Baseball, Endurocross, and Hockey.</p>
<%- include partials/footer.ejs %>