<%- include partials/header.ejs %>
<header class="intro">
    <h1>Past Projects</h1>
    <p>I don't currently have any projects outside of school, so I'll have to get on that....
    </p>
</header>
<%- include partials/footer.ejs %>