<%- include partials/header.ejs %>
<header class="intro">
    <h1>Here's What I Can Offer</h1>
    <p>Currently Im in school, what Im learning this semester is the MEAN Stack. I personally am very fond for as it is
        an all in one option. Everything that you need to do is based around JavaScript and all data is moved around as
        JSON making it extremely easy to work with.
    </p>
</header>
<%- include partials/footer.ejs %>